.card {
  width: 80%;
  border-color: #74529e;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.card-title {
  padding-left: 14%;
}

card.title {
  font-size: 100px;
}

.date-style {
  text-align: right;
  padding-right: 1%;
}

.h5 {
  font-size: 30px;
}

.icon-style {
  text-align: center;
}

.image-section {
  text-align: center;
}

.nav-link {
  color: #f9b222;
  font-size: 30px;
}

.nav-link:focus, .nav-link:hover, .nav-link.active {
  color: #ed6b4b;
} 

.overview-image {
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  height: auto;
}

span {
  padding-right: 10px;
  padding-left: 10px;
}

.text-color {
  color: #74529e;
}