.poll-component-section {
  border: 2px solid #74529e;
  background-color: #74529e;
  color: white;
  padding: 20px 50px;
  margin: 0px 7%;
  border-radius: 25px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 700px) {
  .poll-component-section {
    margin: 0;
    padding: 20px;
  }
}

.poll-button {
  border: 1px outset white !important;
  background-color: white !important;
  height: 40px;
  width: 40px;
}

.vote-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vote-answer-column {
  margin: auto 0;
}

/* .vote-button-column {
  display: flex-end;
} */

.vote-count-column {
  text-align: right;
}

.after-answer-section {
  text-align: right;
}
