.card {
  width: 60%;
  border-color: #74529e;
  padding: 10px 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}

.card-title {
  padding: 0 7%;
}

.date-style {
  text-align: right;
  padding: 0.8em 1em;
  color: #ed6b4b;
  font-weight: 700;
}

.h5 {
  font-size: 1.6rem;
}

.icon-style {
  text-align: center;
}

.overview-image {
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  height: auto;
}

span {
  padding-right: 10px;
  padding-left: 10px;
  font-family: t26-carbon, monospace !important;
}

.text-color {
  color: #74529e;
}

.fa-2x {
  font-size: 1.6rem;
}
